/personal
Cargo.lock
.env
target
**/target/
/examples/db_password.txt
test.db
sqlx-middleware/
xxx
xxx-shm
xxx-wal
sql-middleware
tests/tests/**/debug*/
tests/tests/**/debug*/**
wrangler-*.log
*.wasm
serverless/.wrangler/state/*
.wrangler
.wrangler-config
node_modules/
dist/
.wrangler-locks/worker-build.lock
